---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Boda de Carito y Samu">
  <main>
    <section>
      <div class="h-60 rotate-180 bg-flowers bg-repeat-x"></div>
      <div class="px-4 py-28">
        <h1
          class="font-dancing-script mb-4 w-full text-balance text-center text-8xl"
        >
          Carito
          <span class="text-4xl">&</span>
          Samu
        </h1>
        <div class="flex w-full items-center justify-center">
          <span class="h-0 w-6 rounded-l-full border-2 border-text"></span>
          <p class="px-8 text-center text-xl">9 de Noviembre de 2024</p>
          <span class="h-0 w-6 rounded-r-full border-2 border-text"></span>
          <span></span>
        </div>
      </div>
      <div class="h-60 bg-flowers bg-repeat-x"></div>
    </section>
  </main>
</Layout>
